**Import Libraries and read the dataset**

In [141]:
import numpy as np
import pandas as pd
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import tensorflow as tf
# Using Tensorflow Keras instead of the original Keras

from tensorflow.keras.datasets import mnist
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, precision_recall_curve, auc
import matplotlib.pyplot as plt
from tensorflow.keras import optimizers
from google.colab import drive

In [142]:
drive.mount('/content/drive/')
project_path = '/content/drive/My Drive/Colab Notebooks/'
dataset_file = project_path + 'bank.csv'

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [143]:
# reading the CSV file into pandas dataframe
df = pd.read_csv(dataset_file)  

pd.isnull(df).count()

RowNumber          10000
CustomerId         10000
Surname            10000
CreditScore        10000
Geography          10000
Gender             10000
Age                10000
Tenure             10000
Balance            10000
NumOfProducts      10000
HasCrCard          10000
IsActiveMember     10000
EstimatedSalary    10000
Exited             10000
dtype: int64

In [144]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

**Perform basic data exporation**

In [145]:
df.shape

(10000, 14)

In [146]:
df.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

**2. Drop the columns which are unique for all users like IDs (5 points)**

In [148]:
df  = df.drop("RowNumber" , axis=1)
df  = df.drop("CustomerId" , axis=1)
df  = df.drop("Surname" , axis=1)

In [149]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [150]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

**3. Distinguish the feature and target set (5 points)**
Here, our target variable is 'Exited' and rest are the feature set.

In [151]:
X_data = df.iloc[:, 1:-1]
y_data = df.iloc[:, -1]

In [152]:
X_data.shape

(10000, 9)

In [153]:
y_data.shape

(10000,)

In [154]:
y_data.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [155]:
y_data.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [156]:
X_data.head()

  Geography  Gender  Age  ...  HasCrCard  IsActiveMember  EstimatedSalary
0    France  Female   42  ...          1               1        101348.88
1     Spain  Female   41  ...          0               1        112542.58
2    France  Female   42  ...          1               0        113931.57
3    France  Female   39  ...          0               0         93826.63
4     Spain  Female   43  ...          1               1         79084.10

[5 rows x 9 columns]

*Using one hot encoding and replacing object fields with numerical values to represent the same.*

In [157]:
replaceStruct = {
                "Geography": {"France": 1, "Germany": 2 ,"Spain": 3},
                "Gender": {"Female": 0, "Male": 1}, 
                }
oneHotCols=["Geography","Gender"]

In [158]:
X_data=X_data.replace(replaceStruct)
X_data.head()

   Geography  Gender  Age  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          1       0   42  ...          1               1        101348.88
1          3       0   41  ...          0               1        112542.58
2          1       0   42  ...          1               0        113931.57
3          1       0   39  ...          0               0         93826.63
4          3       0   43  ...          1               1         79084.10

[5 rows x 9 columns]

In [159]:
X_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geography        10000 non-null  int64
 1   Gender           10000 non-null  int64
 2   Age              10000 non-null  int64
 3   Tenure           10000 non-null  int64
 4   Balance          10000 non-null  float64
 5   NumOfProducts    10000 non-null  int64
 6   HasCrCard        10000 non-null  int64
 7   IsActiveMember   10000 non-null  int64
 8   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(7)
memory usage: 703.2 KB

In [160]:

X_data.head()

   Geography  Gender  Age  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          1       0   42  ...          1               1        101348.88
1          3       0   41  ...          0               1        112542.58
2          1       0   42  ...          1               0        113931.57
3          1       0   39  ...          0               0         93826.63
4          3       0   43  ...          1               1         79084.10

[5 rows x 9 columns]

**4. Divide the data set into training and test sets (5 points)**

In [161]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.2, random_state = 7)

**5. Normalize the train and test data (10 points)**

*Normalizing*

In [162]:
X_train = preprocessing.normalize(X_train)

In [163]:
X_test = preprocessing.normalize(X_test)

In [164]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8000, 9)
(2000, 9)
(8000,)
(2000,)

*Scaling*

In [165]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

6. Initialize & build the model. Identify the points of improvement and implement the same the same.(20)

In [166]:
from tensorflow import keras
import keras
from keras.layers import Dense

In [167]:
model = Sequential()

In [168]:
model.add(Dense(6, input_shape = (9,), activation = 'relu'))   #from input layer

In [169]:
model.add(Dense(units= 6, activation = 'relu', kernel_initializer="uniform"))   #adding hidden layers

In [170]:
model.add(Dense(units = 1, activation = 'sigmoid', kernel_initializer="uniform"))  #to output layer

In [171]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [172]:
model.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 1s 896us/step - loss: 0.5518 - accuracy: 0.7962
Epoch 2/100
800/800 [==============================] - 1s 894us/step - loss: 0.4988 - accuracy: 0.7968
Epoch 3/100
800/800 [==============================] - 1s 866us/step - loss: 0.4984 - accuracy: 0.7968
Epoch 4/100
800/800 [==============================] - 1s 909us/step - loss: 0.4977 - accuracy: 0.7968
Epoch 5/100
800/800 [==============================] - 1s 957us/step - loss: 0.4974 - accuracy: 0.7968
Epoch 6/100
800/800 [==============================] - 1s 986us/step - loss: 0.4968 - accuracy: 0.7968
Epoch 7/100
800/800 [==============================] - 1s 876us/step - loss: 0.4967 - accuracy: 0.7968
Epoch 8/100
800/800 [==============================] - 1s 898us/step - loss: 0.4961 - accuracy: 0.7968
Epoch 9/100
800/800 [==============================] - 1s 916us/step - loss: 0.4956 - accuracy: 0.7968
Epoch 10/100
800/800 [==============================] - 1s 915us/step - loss: 0.4954 - accuracy: 0.7968
Epoch 11/100
800/800 [==============================] - 1s 873us/step - loss: 0.4949 - accuracy: 0.7968
Epoch 12/100
800/800 [==============================] - 1s 925us/step - loss: 0.4946 - accuracy: 0.7968
Epoch 13/100
800/800 [==============================] - 1s 874us/step - loss: 0.4942 - accuracy: 0.7968
Epoch 14/100
800/800 [==============================] - 1s 877us/step - loss: 0.4935 - accuracy: 0.7968
Epoch 15/100
800/800 [==============================] - 1s 896us/step - loss: 0.4929 - accuracy: 0.7968
Epoch 16/100
800/800 [==============================] - 1s 935us/step - loss: 0.4924 - accuracy: 0.7968
Epoch 17/100
800/800 [==============================] - 1s 933us/step - loss: 0.4913 - accuracy: 0.7968
Epoch 18/100
800/800 [==============================] - 1s 878us/step - loss: 0.4894 - accuracy: 0.7968
Epoch 19/100
800/800 [==============================] - 1s 877us/step - loss: 0.4879 - accuracy: 0.7968
Epoch 20/100
800/800 [==============================] - 1s 926us/step - loss: 0.4864 - accuracy: 0.7968
Epoch 21/100
800/800 [==============================] - 1s 928us/step - loss: 0.4845 - accuracy: 0.7968
Epoch 22/100
800/800 [==============================] - 1s 864us/step - loss: 0.4827 - accuracy: 0.7968
Epoch 23/100
800/800 [==============================] - 1s 904us/step - loss: 0.4808 - accuracy: 0.7968
Epoch 24/100
800/800 [==============================] - 1s 895us/step - loss: 0.4787 - accuracy: 0.7968
Epoch 25/100
800/800 [==============================] - 1s 870us/step - loss: 0.4766 - accuracy: 0.7968
Epoch 26/100
800/800 [==============================] - 1s 895us/step - loss: 0.4751 - accuracy: 0.7968
Epoch 27/100
800/800 [==============================] - 1s 880us/step - loss: 0.4736 - accuracy: 0.7968
Epoch 28/100
800/800 [==============================] - 1s 894us/step - loss: 0.4720 - accuracy: 0.7968
Epoch 29/100
800/800 [==============================] - 1s 941us/step - loss: 0.4706 - accuracy: 0.7968
Epoch 30/100
800/800 [==============================] - 1s 983us/step - loss: 0.4683 - accuracy: 0.7968
Epoch 31/100
800/800 [==============================] - 1s 959us/step - loss: 0.4674 - accuracy: 0.7966
Epoch 32/100
800/800 [==============================] - 1s 879us/step - loss: 0.4668 - accuracy: 0.7966
Epoch 33/100
800/800 [==============================] - 1s 892us/step - loss: 0.4651 - accuracy: 0.7971
Epoch 34/100
800/800 [==============================] - 1s 897us/step - loss: 0.4646 - accuracy: 0.7970
Epoch 35/100
800/800 [==============================] - 1s 876us/step - loss: 0.4638 - accuracy: 0.7971
Epoch 36/100
800/800 [==============================] - 1s 878us/step - loss: 0.4627 - accuracy: 0.7974
Epoch 37/100
800/800 [==============================] - 1s 906us/step - loss: 0.4615 - accuracy: 0.7974
Epoch 38/100
800/800 [==============================] - 1s 876us/step - loss: 0.4615 - accuracy: 0.7977
Epoch 39/100
800/800 [==============================] - 1s 897us/step - loss: 0.4601 - accuracy: 0.7984
Epoch 40/100
800/800 [==============================] - 1s 859us/step - loss: 0.4593 - accuracy: 0.7976
Epoch 41/100
800/800 [==============================] - 1s 903us/step - loss: 0.4590 - accuracy: 0.7977
Epoch 42/100
800/800 [==============================] - 1s 863us/step - loss: 0.4587 - accuracy: 0.7983
Epoch 43/100
800/800 [==============================] - 1s 869us/step - loss: 0.4578 - accuracy: 0.7986
Epoch 44/100
800/800 [==============================] - 1s 971us/step - loss: 0.4571 - accuracy: 0.7981
Epoch 45/100
800/800 [==============================] - 1s 923us/step - loss: 0.4566 - accuracy: 0.7985
Epoch 46/100
800/800 [==============================] - 1s 946us/step - loss: 0.4560 - accuracy: 0.7985
Epoch 47/100
800/800 [==============================] - 1s 899us/step - loss: 0.4557 - accuracy: 0.7980
Epoch 48/100
800/800 [==============================] - 1s 869us/step - loss: 0.4553 - accuracy: 0.7981
Epoch 49/100
800/800 [==============================] - 1s 890us/step - loss: 0.4538 - accuracy: 0.7987
Epoch 50/100
800/800 [==============================] - 1s 866us/step - loss: 0.4547 - accuracy: 0.7985
Epoch 51/100
800/800 [==============================] - 1s 892us/step - loss: 0.4536 - accuracy: 0.7981
Epoch 52/100
800/800 [==============================] - 1s 885us/step - loss: 0.4539 - accuracy: 0.7979
Epoch 53/100
800/800 [==============================] - 1s 901us/step - loss: 0.4539 - accuracy: 0.7991
Epoch 54/100
800/800 [==============================] - 1s 894us/step - loss: 0.4540 - accuracy: 0.7991
Epoch 55/100
800/800 [==============================] - 1s 937us/step - loss: 0.4529 - accuracy: 0.7986
Epoch 56/100
800/800 [==============================] - 1s 918us/step - loss: 0.4517 - accuracy: 0.7996
Epoch 57/100
800/800 [==============================] - 1s 874us/step - loss: 0.4516 - accuracy: 0.7996
Epoch 58/100
800/800 [==============================] - 1s 895us/step - loss: 0.4510 - accuracy: 0.7993
Epoch 59/100
800/800 [==============================] - 1s 925us/step - loss: 0.4519 - accuracy: 0.7999
Epoch 60/100
800/800 [==============================] - 1s 848us/step - loss: 0.4504 - accuracy: 0.8005
Epoch 61/100
800/800 [==============================] - 1s 867us/step - loss: 0.4505 - accuracy: 0.8008
Epoch 62/100
800/800 [==============================] - 1s 975us/step - loss: 0.4503 - accuracy: 0.7999
Epoch 63/100
800/800 [==============================] - 1s 922us/step - loss: 0.4496 - accuracy: 0.8002
Epoch 64/100
800/800 [==============================] - 1s 911us/step - loss: 0.4496 - accuracy: 0.7997
Epoch 65/100
800/800 [==============================] - 1s 895us/step - loss: 0.4490 - accuracy: 0.8001
Epoch 66/100
800/800 [==============================] - 1s 899us/step - loss: 0.4496 - accuracy: 0.8001
Epoch 67/100
800/800 [==============================] - 1s 879us/step - loss: 0.4485 - accuracy: 0.8004
Epoch 68/100
800/800 [==============================] - 1s 879us/step - loss: 0.4482 - accuracy: 0.8004
Epoch 69/100
800/800 [==============================] - 1s 898us/step - loss: 0.4490 - accuracy: 0.7999
Epoch 70/100
800/800 [==============================] - 1s 932us/step - loss: 0.4472 - accuracy: 0.8001
Epoch 71/100
800/800 [==============================] - 1s 908us/step - loss: 0.4471 - accuracy: 0.8004
Epoch 72/100
800/800 [==============================] - 1s 877us/step - loss: 0.4473 - accuracy: 0.8005
Epoch 73/100
800/800 [==============================] - 1s 963us/step - loss: 0.4472 - accuracy: 0.8001
Epoch 74/100
800/800 [==============================] - 1s 926us/step - loss: 0.4469 - accuracy: 0.8016
Epoch 75/100
800/800 [==============================] - 1s 886us/step - loss: 0.4468 - accuracy: 0.8006
Epoch 76/100
800/800 [==============================] - 1s 881us/step - loss: 0.4457 - accuracy: 0.8019
Epoch 77/100
800/800 [==============================] - 1s 908us/step - loss: 0.4461 - accuracy: 0.8000
Epoch 78/100
800/800 [==============================] - 1s 927us/step - loss: 0.4457 - accuracy: 0.8008
Epoch 79/100
800/800 [==============================] - 1s 891us/step - loss: 0.4461 - accuracy: 0.8014
Epoch 80/100
800/800 [==============================] - 1s 908us/step - loss: 0.4456 - accuracy: 0.8014
Epoch 81/100
800/800 [==============================] - 1s 902us/step - loss: 0.4459 - accuracy: 0.8020
Epoch 82/100
800/800 [==============================] - 1s 904us/step - loss: 0.4452 - accuracy: 0.8018
Epoch 83/100
800/800 [==============================] - 1s 912us/step - loss: 0.4451 - accuracy: 0.8040
Epoch 84/100
800/800 [==============================] - 1s 921us/step - loss: 0.4446 - accuracy: 0.8026
Epoch 85/100
800/800 [==============================] - 1s 910us/step - loss: 0.4448 - accuracy: 0.8023
Epoch 86/100
800/800 [==============================] - 1s 966us/step - loss: 0.4453 - accuracy: 0.8027
Epoch 87/100
800/800 [==============================] - 1s 899us/step - loss: 0.4433 - accuracy: 0.8020
Epoch 88/100
800/800 [==============================] - 1s 917us/step - loss: 0.4437 - accuracy: 0.8016
Epoch 89/100
800/800 [==============================] - 1s 904us/step - loss: 0.4442 - accuracy: 0.8012
Epoch 90/100
800/800 [==============================] - 1s 897us/step - loss: 0.4432 - accuracy: 0.8021
Epoch 91/100
800/800 [==============================] - 1s 877us/step - loss: 0.4439 - accuracy: 0.8027
Epoch 92/100
800/800 [==============================] - 1s 936us/step - loss: 0.4434 - accuracy: 0.8029
Epoch 93/100
800/800 [==============================] - 1s 913us/step - loss: 0.4443 - accuracy: 0.8019
Epoch 94/100
800/800 [==============================] - 1s 905us/step - loss: 0.4433 - accuracy: 0.8014
Epoch 95/100
800/800 [==============================] - 1s 862us/step - loss: 0.4431 - accuracy: 0.8025
Epoch 96/100
800/800 [==============================] - 1s 867us/step - loss: 0.4436 - accuracy: 0.8006
Epoch 97/100
800/800 [==============================] - 1s 898us/step - loss: 0.4426 - accuracy: 0.8010
Epoch 98/100
800/800 [==============================] - 1s 898us/step - loss: 0.4423 - accuracy: 0.8036
Epoch 99/100
800/800 [==============================] - 1s 929us/step - loss: 0.4428 - accuracy: 0.8023
Epoch 100/100
800/800 [==============================] - 1s 916us/step - loss: 0.4426 - accuracy: 0.8020

In [173]:
model.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_29 (Dense)             (None, 6)                 60
_________________________________________________________________
dense_30 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_31 (Dense)             (None, 1)                 7
=================================================================
Total params: 109
Trainable params: 109
Non-trainable params: 0
_________________________________________________________________

In [174]:
loss, acc = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy: %.3f'  % acc)
print('Loss: %.3f' % loss)

Accuracy: 0.807
Loss: 0.446

In [193]:
   model.fit(X_train, y_train, batch_size = 10, epochs = 190)

Epoch 1/190
800/800 [==============================] - 1s 885us/step - loss: 0.4178 - accuracy: 0.8142
Epoch 2/190
800/800 [==============================] - 1s 880us/step - loss: 0.4179 - accuracy: 0.8136
Epoch 3/190
800/800 [==============================] - 1s 895us/step - loss: 0.4178 - accuracy: 0.8148
Epoch 4/190
800/800 [==============================] - 1s 865us/step - loss: 0.4181 - accuracy: 0.8158
Epoch 5/190
800/800 [==============================] - 1s 914us/step - loss: 0.4178 - accuracy: 0.8154
Epoch 6/190
800/800 [==============================] - 1s 916us/step - loss: 0.4182 - accuracy: 0.8149
Epoch 7/190
800/800 [==============================] - 1s 870us/step - loss: 0.4184 - accuracy: 0.8160
Epoch 8/190
800/800 [==============================] - 1s 893us/step - loss: 0.4177 - accuracy: 0.8158
Epoch 9/190
800/800 [==============================] - 1s 880us/step - loss: 0.4178 - accuracy: 0.8142
Epoch 10/190
800/800 [==============================] - 1s 875us/step - loss: 0.4179 - accuracy: 0.8146
Epoch 11/190
800/800 [==============================] - 1s 906us/step - loss: 0.4179 - accuracy: 0.8149
Epoch 12/190
800/800 [==============================] - 1s 992us/step - loss: 0.4184 - accuracy: 0.8138
Epoch 13/190
800/800 [==============================] - 1s 883us/step - loss: 0.4177 - accuracy: 0.8173
Epoch 14/190
800/800 [==============================] - 1s 871us/step - loss: 0.4184 - accuracy: 0.8170
Epoch 15/190
800/800 [==============================] - 1s 871us/step - loss: 0.4173 - accuracy: 0.8159
Epoch 16/190
800/800 [==============================] - 1s 982us/step - loss: 0.4181 - accuracy: 0.8151
Epoch 17/190
800/800 [==============================] - 1s 871us/step - loss: 0.4168 - accuracy: 0.8142
Epoch 18/190
800/800 [==============================] - 1s 935us/step - loss: 0.4186 - accuracy: 0.8154
Epoch 19/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4178 - accuracy: 0.8166
Epoch 20/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4179 - accuracy: 0.8164
Epoch 21/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4183 - accuracy: 0.8148
Epoch 22/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4178 - accuracy: 0.8151
Epoch 23/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4182 - accuracy: 0.8152
Epoch 24/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4177 - accuracy: 0.8165
Epoch 25/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4186 - accuracy: 0.8167
Epoch 26/190
800/800 [==============================] - 1s 892us/step - loss: 0.4178 - accuracy: 0.8160
Epoch 27/190
800/800 [==============================] - 1s 868us/step - loss: 0.4181 - accuracy: 0.8152
Epoch 28/190
800/800 [==============================] - 1s 855us/step - loss: 0.4184 - accuracy: 0.8166
Epoch 29/190
800/800 [==============================] - 1s 926us/step - loss: 0.4177 - accuracy: 0.8163
Epoch 30/190
800/800 [==============================] - 1s 862us/step - loss: 0.4177 - accuracy: 0.8144
Epoch 31/190
800/800 [==============================] - 1s 890us/step - loss: 0.4179 - accuracy: 0.8152
Epoch 32/190
800/800 [==============================] - 1s 899us/step - loss: 0.4177 - accuracy: 0.8165
Epoch 33/190
800/800 [==============================] - 1s 919us/step - loss: 0.4168 - accuracy: 0.8155
Epoch 34/190
800/800 [==============================] - 1s 904us/step - loss: 0.4177 - accuracy: 0.8148
Epoch 35/190
800/800 [==============================] - 1s 896us/step - loss: 0.4181 - accuracy: 0.8171
Epoch 36/190
800/800 [==============================] - 1s 891us/step - loss: 0.4170 - accuracy: 0.8161
Epoch 37/190
800/800 [==============================] - 1s 873us/step - loss: 0.4181 - accuracy: 0.8171
Epoch 38/190
800/800 [==============================] - 1s 896us/step - loss: 0.4183 - accuracy: 0.8142
Epoch 39/190
800/800 [==============================] - 1s 934us/step - loss: 0.4172 - accuracy: 0.8166
Epoch 40/190
800/800 [==============================] - 1s 921us/step - loss: 0.4189 - accuracy: 0.8156
Epoch 41/190
800/800 [==============================] - 1s 935us/step - loss: 0.4180 - accuracy: 0.8144
Epoch 42/190
800/800 [==============================] - 1s 909us/step - loss: 0.4175 - accuracy: 0.8152
Epoch 43/190
800/800 [==============================] - 1s 897us/step - loss: 0.4180 - accuracy: 0.8166
Epoch 44/190
800/800 [==============================] - 1s 1000us/step - loss: 0.4181 - accuracy: 0.8152
Epoch 45/190
800/800 [==============================] - 1s 875us/step - loss: 0.4178 - accuracy: 0.8152
Epoch 46/190
800/800 [==============================] - 1s 899us/step - loss: 0.4180 - accuracy: 0.8171
Epoch 47/190
800/800 [==============================] - 1s 868us/step - loss: 0.4181 - accuracy: 0.8151
Epoch 48/190
800/800 [==============================] - 1s 921us/step - loss: 0.4178 - accuracy: 0.8158
Epoch 49/190
800/800 [==============================] - 1s 897us/step - loss: 0.4174 - accuracy: 0.8165
Epoch 50/190
800/800 [==============================] - 1s 899us/step - loss: 0.4180 - accuracy: 0.8134
Epoch 51/190
800/800 [==============================] - 1s 905us/step - loss: 0.4177 - accuracy: 0.8148
Epoch 52/190
800/800 [==============================] - 1s 905us/step - loss: 0.4170 - accuracy: 0.8154
Epoch 53/190
800/800 [==============================] - 1s 923us/step - loss: 0.4175 - accuracy: 0.8154
Epoch 54/190
800/800 [==============================] - 1s 867us/step - loss: 0.4173 - accuracy: 0.8149
Epoch 55/190
800/800 [==============================] - 1s 904us/step - loss: 0.4177 - accuracy: 0.8146
Epoch 56/190
800/800 [==============================] - 1s 875us/step - loss: 0.4171 - accuracy: 0.8146
Epoch 57/190
800/800 [==============================] - 1s 917us/step - loss: 0.4180 - accuracy: 0.8130
Epoch 58/190
800/800 [==============================] - 1s 887us/step - loss: 0.4175 - accuracy: 0.8159
Epoch 59/190
800/800 [==============================] - 1s 938us/step - loss: 0.4184 - accuracy: 0.8167
Epoch 60/190
800/800 [==============================] - 1s 902us/step - loss: 0.4179 - accuracy: 0.8136
Epoch 61/190
800/800 [==============================] - 1s 905us/step - loss: 0.4183 - accuracy: 0.8171
Epoch 62/190
800/800 [==============================] - 1s 911us/step - loss: 0.4171 - accuracy: 0.8156
Epoch 63/190
800/800 [==============================] - 1s 969us/step - loss: 0.4175 - accuracy: 0.8156
Epoch 64/190
800/800 [==============================] - 1s 901us/step - loss: 0.4178 - accuracy: 0.8148
Epoch 65/190
800/800 [==============================] - 1s 901us/step - loss: 0.4180 - accuracy: 0.8140
Epoch 66/190
800/800 [==============================] - 1s 917us/step - loss: 0.4175 - accuracy: 0.8173
Epoch 67/190
800/800 [==============================] - 1s 915us/step - loss: 0.4174 - accuracy: 0.8156
Epoch 68/190
800/800 [==============================] - 1s 926us/step - loss: 0.4179 - accuracy: 0.8154
Epoch 69/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4184 - accuracy: 0.8163
Epoch 70/190
800/800 [==============================] - 1s 858us/step - loss: 0.4180 - accuracy: 0.8152
Epoch 71/190
800/800 [==============================] - 1s 925us/step - loss: 0.4175 - accuracy: 0.8160
Epoch 72/190
800/800 [==============================] - 1s 893us/step - loss: 0.4176 - accuracy: 0.8145
Epoch 73/190
800/800 [==============================] - 1s 937us/step - loss: 0.4176 - accuracy: 0.8142
Epoch 74/190
800/800 [==============================] - 1s 855us/step - loss: 0.4175 - accuracy: 0.8160
Epoch 75/190
800/800 [==============================] - 1s 883us/step - loss: 0.4173 - accuracy: 0.8167
Epoch 76/190
800/800 [==============================] - 1s 887us/step - loss: 0.4183 - accuracy: 0.8152
Epoch 77/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4177 - accuracy: 0.8152
Epoch 78/190
800/800 [==============================] - 1s 879us/step - loss: 0.4182 - accuracy: 0.8152
Epoch 79/190
800/800 [==============================] - 1s 913us/step - loss: 0.4170 - accuracy: 0.8164
Epoch 80/190
800/800 [==============================] - 1s 904us/step - loss: 0.4179 - accuracy: 0.8184
Epoch 81/190
800/800 [==============================] - 1s 868us/step - loss: 0.4176 - accuracy: 0.8156
Epoch 82/190
800/800 [==============================] - 1s 913us/step - loss: 0.4177 - accuracy: 0.8156
Epoch 83/190
800/800 [==============================] - 1s 904us/step - loss: 0.4173 - accuracy: 0.8148
Epoch 84/190
800/800 [==============================] - 1s 962us/step - loss: 0.4171 - accuracy: 0.8158
Epoch 85/190
800/800 [==============================] - 1s 891us/step - loss: 0.4176 - accuracy: 0.8150
Epoch 86/190
800/800 [==============================] - 1s 924us/step - loss: 0.4177 - accuracy: 0.8160
Epoch 87/190
800/800 [==============================] - 1s 906us/step - loss: 0.4173 - accuracy: 0.8161
Epoch 88/190
800/800 [==============================] - 1s 872us/step - loss: 0.4170 - accuracy: 0.8158
Epoch 89/190
800/800 [==============================] - 1s 900us/step - loss: 0.4175 - accuracy: 0.8160
Epoch 90/190
800/800 [==============================] - 1s 944us/step - loss: 0.4168 - accuracy: 0.8167
Epoch 91/190
800/800 [==============================] - 1s 901us/step - loss: 0.4166 - accuracy: 0.8152
Epoch 92/190
800/800 [==============================] - 1s 937us/step - loss: 0.4178 - accuracy: 0.8165
Epoch 93/190
800/800 [==============================] - 1s 906us/step - loss: 0.4168 - accuracy: 0.8173
Epoch 94/190
800/800 [==============================] - 1s 913us/step - loss: 0.4178 - accuracy: 0.8161
Epoch 95/190
800/800 [==============================] - 1s 896us/step - loss: 0.4168 - accuracy: 0.8166
Epoch 96/190
800/800 [==============================] - 1s 979us/step - loss: 0.4171 - accuracy: 0.8152
Epoch 97/190
800/800 [==============================] - 1s 937us/step - loss: 0.4174 - accuracy: 0.8164
Epoch 98/190
800/800 [==============================] - 1s 927us/step - loss: 0.4176 - accuracy: 0.8166
Epoch 99/190
800/800 [==============================] - 1s 871us/step - loss: 0.4179 - accuracy: 0.8161
Epoch 100/190
800/800 [==============================] - 1s 892us/step - loss: 0.4165 - accuracy: 0.8144
Epoch 101/190
800/800 [==============================] - 1s 881us/step - loss: 0.4178 - accuracy: 0.8160
Epoch 102/190
800/800 [==============================] - 1s 909us/step - loss: 0.4175 - accuracy: 0.8167
Epoch 103/190
800/800 [==============================] - 1s 912us/step - loss: 0.4174 - accuracy: 0.8145
Epoch 104/190
800/800 [==============================] - 1s 901us/step - loss: 0.4170 - accuracy: 0.8145
Epoch 105/190
800/800 [==============================] - 1s 933us/step - loss: 0.4168 - accuracy: 0.8171
Epoch 106/190
800/800 [==============================] - 1s 895us/step - loss: 0.4172 - accuracy: 0.8163
Epoch 107/190
800/800 [==============================] - 1s 925us/step - loss: 0.4171 - accuracy: 0.8149
Epoch 108/190
800/800 [==============================] - 1s 902us/step - loss: 0.4174 - accuracy: 0.8154
Epoch 109/190
800/800 [==============================] - 1s 935us/step - loss: 0.4176 - accuracy: 0.8180
Epoch 110/190
800/800 [==============================] - 1s 937us/step - loss: 0.4165 - accuracy: 0.8174
Epoch 111/190
800/800 [==============================] - 1s 892us/step - loss: 0.4180 - accuracy: 0.8148
Epoch 112/190
800/800 [==============================] - 1s 880us/step - loss: 0.4167 - accuracy: 0.8185
Epoch 113/190
800/800 [==============================] - 1s 899us/step - loss: 0.4174 - accuracy: 0.8155
Epoch 114/190
800/800 [==============================] - 1s 915us/step - loss: 0.4179 - accuracy: 0.8173
Epoch 115/190
800/800 [==============================] - 1s 901us/step - loss: 0.4163 - accuracy: 0.8158
Epoch 116/190
800/800 [==============================] - 1s 915us/step - loss: 0.4175 - accuracy: 0.8144
Epoch 117/190
800/800 [==============================] - 1s 893us/step - loss: 0.4167 - accuracy: 0.8163
Epoch 118/190
800/800 [==============================] - 1s 918us/step - loss: 0.4182 - accuracy: 0.8164
Epoch 119/190
800/800 [==============================] - 1s 903us/step - loss: 0.4174 - accuracy: 0.8170
Epoch 120/190
800/800 [==============================] - 1s 910us/step - loss: 0.4180 - accuracy: 0.8150
Epoch 121/190
800/800 [==============================] - 1s 908us/step - loss: 0.4180 - accuracy: 0.8150
Epoch 122/190
800/800 [==============================] - 1s 901us/step - loss: 0.4171 - accuracy: 0.8164
Epoch 123/190
800/800 [==============================] - 1s 902us/step - loss: 0.4170 - accuracy: 0.8159
Epoch 124/190
800/800 [==============================] - 1s 926us/step - loss: 0.4165 - accuracy: 0.8158
Epoch 125/190
800/800 [==============================] - 1s 908us/step - loss: 0.4173 - accuracy: 0.8179
Epoch 126/190
800/800 [==============================] - 1s 915us/step - loss: 0.4175 - accuracy: 0.8151
Epoch 127/190
800/800 [==============================] - 1s 912us/step - loss: 0.4177 - accuracy: 0.8150
Epoch 128/190
800/800 [==============================] - 1s 898us/step - loss: 0.4172 - accuracy: 0.8166
Epoch 129/190
800/800 [==============================] - 1s 925us/step - loss: 0.4175 - accuracy: 0.8163
Epoch 130/190
800/800 [==============================] - 1s 907us/step - loss: 0.4170 - accuracy: 0.8160
Epoch 131/190
800/800 [==============================] - 1s 913us/step - loss: 0.4172 - accuracy: 0.8155
Epoch 132/190
800/800 [==============================] - 1s 917us/step - loss: 0.4183 - accuracy: 0.8152
Epoch 133/190
800/800 [==============================] - 1s 930us/step - loss: 0.4169 - accuracy: 0.8154
Epoch 134/190
800/800 [==============================] - 1s 929us/step - loss: 0.4175 - accuracy: 0.8144
Epoch 135/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4179 - accuracy: 0.8155
Epoch 136/190
800/800 [==============================] - 1s 933us/step - loss: 0.4169 - accuracy: 0.8163
Epoch 137/190
800/800 [==============================] - 1s 981us/step - loss: 0.4165 - accuracy: 0.8159
Epoch 138/190
800/800 [==============================] - 1s 914us/step - loss: 0.4173 - accuracy: 0.8152
Epoch 139/190
800/800 [==============================] - 1s 895us/step - loss: 0.4169 - accuracy: 0.8155
Epoch 140/190
800/800 [==============================] - 1s 915us/step - loss: 0.4168 - accuracy: 0.8164
Epoch 141/190
800/800 [==============================] - 1s 914us/step - loss: 0.4170 - accuracy: 0.8142
Epoch 142/190
800/800 [==============================] - 1s 930us/step - loss: 0.4164 - accuracy: 0.8156
Epoch 143/190
800/800 [==============================] - 1s 912us/step - loss: 0.4174 - accuracy: 0.8170
Epoch 144/190
800/800 [==============================] - 1s 909us/step - loss: 0.4166 - accuracy: 0.8170
Epoch 145/190
800/800 [==============================] - 1s 924us/step - loss: 0.4172 - accuracy: 0.8148
Epoch 146/190
800/800 [==============================] - 1s 965us/step - loss: 0.4179 - accuracy: 0.8140
Epoch 147/190
800/800 [==============================] - 1s 912us/step - loss: 0.4169 - accuracy: 0.8177
Epoch 148/190
800/800 [==============================] - 1s 936us/step - loss: 0.4171 - accuracy: 0.8161
Epoch 149/190
800/800 [==============================] - 1s 971us/step - loss: 0.4172 - accuracy: 0.8152
Epoch 150/190
800/800 [==============================] - 1s 905us/step - loss: 0.4163 - accuracy: 0.8191
Epoch 151/190
800/800 [==============================] - 1s 912us/step - loss: 0.4167 - accuracy: 0.8158
Epoch 152/190
800/800 [==============================] - 1s 969us/step - loss: 0.4180 - accuracy: 0.8155
Epoch 153/190
800/800 [==============================] - 1s 926us/step - loss: 0.4173 - accuracy: 0.8156
Epoch 154/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4169 - accuracy: 0.8144
Epoch 155/190
800/800 [==============================] - 1s 874us/step - loss: 0.4162 - accuracy: 0.8169
Epoch 156/190
800/800 [==============================] - 1s 981us/step - loss: 0.4155 - accuracy: 0.8171
Epoch 157/190
800/800 [==============================] - 1s 931us/step - loss: 0.4170 - accuracy: 0.8146
Epoch 158/190
800/800 [==============================] - 1s 907us/step - loss: 0.4167 - accuracy: 0.8154
Epoch 159/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4170 - accuracy: 0.8169
Epoch 160/190
800/800 [==============================] - 1s 931us/step - loss: 0.4163 - accuracy: 0.8154
Epoch 161/190
800/800 [==============================] - 1s 973us/step - loss: 0.4166 - accuracy: 0.8165
Epoch 162/190
800/800 [==============================] - 1s 925us/step - loss: 0.4167 - accuracy: 0.8163
Epoch 163/190
800/800 [==============================] - 1s 934us/step - loss: 0.4174 - accuracy: 0.8156
Epoch 164/190
800/800 [==============================] - 1s 928us/step - loss: 0.4173 - accuracy: 0.8163
Epoch 165/190
800/800 [==============================] - 1s 919us/step - loss: 0.4158 - accuracy: 0.8155
Epoch 166/190
800/800 [==============================] - 1s 944us/step - loss: 0.4164 - accuracy: 0.8159
Epoch 167/190
800/800 [==============================] - 1s 920us/step - loss: 0.4160 - accuracy: 0.8158
Epoch 168/190
800/800 [==============================] - 1s 1ms/step - loss: 0.4170 - accuracy: 0.8152
Epoch 169/190
800/800 [==============================] - 1s 934us/step - loss: 0.4168 - accuracy: 0.8144
Epoch 170/190
800/800 [==============================] - 1s 938us/step - loss: 0.4163 - accuracy: 0.8155
Epoch 171/190
800/800 [==============================] - 1s 909us/step - loss: 0.4164 - accuracy: 0.8148
Epoch 172/190
800/800 [==============================] - 1s 913us/step - loss: 0.4169 - accuracy: 0.8152
Epoch 173/190
800/800 [==============================] - 1s 925us/step - loss: 0.4168 - accuracy: 0.8159
Epoch 174/190
800/800 [==============================] - 1s 934us/step - loss: 0.4165 - accuracy: 0.8154
Epoch 175/190
800/800 [==============================] - 1s 933us/step - loss: 0.4168 - accuracy: 0.8175
Epoch 176/190
800/800 [==============================] - 1s 939us/step - loss: 0.4168 - accuracy: 0.8149
Epoch 177/190
800/800 [==============================] - 1s 950us/step - loss: 0.4165 - accuracy: 0.8140
Epoch 178/190
800/800 [==============================] - 1s 922us/step - loss: 0.4161 - accuracy: 0.8155
Epoch 179/190
800/800 [==============================] - 1s 923us/step - loss: 0.4174 - accuracy: 0.8150
Epoch 180/190
800/800 [==============================] - 1s 970us/step - loss: 0.4166 - accuracy: 0.8152
Epoch 181/190
800/800 [==============================] - 1s 924us/step - loss: 0.4164 - accuracy: 0.8134
Epoch 182/190
800/800 [==============================] - 1s 922us/step - loss: 0.4160 - accuracy: 0.8150
Epoch 183/190
800/800 [==============================] - 1s 927us/step - loss: 0.4161 - accuracy: 0.8155
Epoch 184/190
800/800 [==============================] - 1s 964us/step - loss: 0.4173 - accuracy: 0.8163
Epoch 185/190
800/800 [==============================] - 1s 925us/step - loss: 0.4164 - accuracy: 0.8145
Epoch 186/190
800/800 [==============================] - 1s 995us/step - loss: 0.4162 - accuracy: 0.8161
Epoch 187/190
800/800 [==============================] - 1s 910us/step - loss: 0.4176 - accuracy: 0.8152
Epoch 188/190
800/800 [==============================] - 1s 912us/step - loss: 0.4168 - accuracy: 0.8146
Epoch 189/190
800/800 [==============================] - 1s 927us/step - loss: 0.4160 - accuracy: 0.8166
Epoch 190/190
800/800 [==============================] - 1s 939us/step - loss: 0.4164 - accuracy: 0.8169

In [198]:
loss, acc = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy: %.3f'  % acc)
print('Loss: %.3f' % loss)

#we get better result with epochs=190

Accuracy: 0.811
Loss: 0.428

**7. Predict the results using 0.5 as a threshold (10 points)**

In [195]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5) #if y_pred is larger than 0.5 it returns true(1) else false(2)
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

**8. Print the Accuracy score and confusion matrix (5 points)**

In [196]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1527   62]
 [ 317   94]]

In [197]:
cr=metrics.classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.83      0.96      0.89      1589
           1       0.60      0.23      0.33       411

    accuracy                           0.81      2000
   macro avg       0.72      0.59      0.61      2000
weighted avg       0.78      0.81      0.77      2000

* From the above condusion matrix, our True positive rates and true negative rates are high which is good. False negative case of 317 is not a problem in our context as the customers are anyways staying and not churning. False positive rate is low which is what we want.
Accuracy rates are also nearly 81% which is really good in our case.
Hence our model seems to be working pretty well!!